/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables for color theming */
:root {
  --hadean-color: #FFCC00;
  --archean-color: #FF5733;
  --proterozoic-color: #58D68D;
  --phanerozoic-color: #3498db;
}

body {
  color: #fff; /* White text */
  background-color: #000; /* Black background */
  font-family: Arial, sans-serif;
  padding: 0.5rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

.container {
  display: flex;
  flex: 1; /* Grow container to fill remaining space */
  padding: 1rem; /* Add padding for spacing */
}

.left-container {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: flex-start; /* Align items from top to bottom */
  align-items: center; /* Center items horizontally */
}

.time-scale-button {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 100%; /* Fill the entire height of the container */
}

.Eon {
  background-color: var(--hadean-color); /* Neon color for Eon */
}

.Era {
  background-color: var(--archean-color); /* Neon color for Era */
}

.Period {
  background-color: var(--proterozoic-color); /* Neon color for Period */
}

.Epoch {
  background-color: var(--phanerozoic-color); /* Neon color for Epoch */
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem; /* Add horizontal padding */
  position: relative; /* Position for the slider line */
}

.line {
  position: absolute;
  width: 2px; /* Line width */
  background-color: #fff; /* White line color */
  left: 50%; /* Center line horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  top: 0; /* Align line to top of container */
  bottom: 0; /* Extend line to bottom of container */
}

.custom-slider {
  height: 100%; /* Match the height of the middle container */
  width: 10px; /* Set width for slider track */
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Grow to fill remaining space */
}

.period-details {
  padding: 1rem;
  color: black;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px; /* Limit width for better readability */
  overflow-y: auto; /* Enable scrolling for period details */
}

.custom-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-track {
  width: 10px;
  background-color: #fff;
  border-radius: 5px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .left-container {
    height: auto;
    align-items: center; /* Center items horizontally */
  }

  .time-scale-button {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 100%; /* Fill the entire height of the container */
  }

  .middle-container {
    align-items: center; /* Center items horizontally */
  }

  .custom-slider {
    height: 100%; /* Match the height of the middle container */
    width: 10px; /* Set width for slider track */
  }

  .right-container {
    width: 100%; /* Full width for right container on mobile */
    align-items: center; /* Center items horizontally */
  }

  /* Adjust period details for mobile devices */
  .period-details {
    padding: 10px;
     /* Reduce padding for smaller screens */
  }
}
